@import '@/assets/minix/main.scss';
.home {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  .homeBox {
    width: 1000px;
    margin: 0 auto;
    @extend %flex;
    @extend %sbetween;
    & .my-scroll-bar {
      @extend %sbetween;
      width: 232px;
      max-height: 468px;
      overflow-y: scroll;
      overflow-x: hidden;
      border-top: 1px solid #E6C9A0;
      & .lotteList ul {
        width: 230px;
        border: 1px solid #E6C9A0;
        background: #FFFDF3;
        & li {
          @extend %flex;
          @extend %aitems;
          width: 230px;
          border-bottom: 1px dashed #DDDDDD;
          height: 45px;
          cursor: pointer;
          & img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 8px;
            margin-left: 15px;
          }
          & .totransition {
            transition: All 2s ease-in-out;
            transform: rotate(3600deg);
          }
          & span {
            color: #B7B7B3;
            font-size: 10px;
            margin-left: 8px;
          }
        }
        & li.active{
          background: rgba(230, 201, 160, 0.3);
        }
      }
    }
    & .homeSideCenter {
      @extend %flex;
      @extend %sbetween;
      @extend %fdc;
      -webkit-box-orient: vertical;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      margin: 0px 13px;
      width: 500px;
      & .banner {
        width: 495px;
        height: 251px;
        overflow: hidden;
        margin-bottom: 13px;
        & .bannerBox {
          background-color: #f1f1f1;
          width: 100%;
          height: 251px;
          min-height: 251px;
          position: relative;
          a {
            cursor: pointer;
          }
          & img {
            width: 100%;
            height: 251px;
          }
        }
      }
      & .autoTab {
        border: 1px solid #D7E2F7;
        border-top: 0px solid #D7E2F7;
        height: 196px;
        & ul.tab {
          width: 495Px;
          height: 30px;
          @extend %flex;
          cursor: pointer;
          & li {
            @extend %flex;
            @extend %aitems;
            @extend %jcontent;
            width: calc(495px/3);
            height: 30px;
            text-align: center;
            line-height: 30px;
            background: #EDF7FF;
            border: 1px solid #D7E2F7;
          }
          & li.active {
            border: 0px solid #D7E2F7;
            border-top: 2px solid $color_btn;
            background: #FFFFFF;
            height: 29px;
          }
        }
        & .autoTabContent {
          height: 125px;
          padding-top: 40px;
          & li:nth-child(1) {
            @extend %flex,
            %faj;
            & span {
              margin: 0px 10px;
            }
            & span.number {
              @extend %flex,
              %faj;
              width: 33px;
              height: 33px;
              background: $color_btn;
              border-radius: 50%;
              color: #FFFFFF;
              font-size: 16px;
              margin-left: 10px;
            }
            & b {
              font-size: 18px;
            }
            & button {
              margin-left: 26px;
              background: $color_btn;
              border: 1px solid $color_btn;
              color: #FFFFFF;
              height: 33px;
              padding: 0px 10px;
              border-radius: 4px;
              font-size: 15px;
              font-weight: 600;
              cursor: pointer;
              outline: none;
            }
          }
          & li:nth-child(2) {
            height: 72px;
            @extend %flex,
            %faj;
            span {
              font-size: 14px;
              em {
                font-style: normal;
                color: $color_btn;
                margin: 0px 10px;
              }
            }
          }
        }
      }
    }
    & .homeSideRight {
      width: 252px;
      & .userNameBox {
        @extend %flex;
        @extend %aitems;
        @extend %jcontent;
        border: 1px solid #EBD4B3;
        background: #FFF9DD;
        height: 43px;
        border-radius: 2px;
        margin-bottom: 18px;
        & button:nth-child(1) {
          margin-right: 10px;
        }
        & button {
          width: 88px;
          height: 28px;
          background: $color_boss;
          border: none;
          color: #FFFFFF;
          padding: 0px 10px;
          border-radius: 4px;
          cursor: pointer;
          outline: none;
        }
      }
      & .winMsg {
        border: 1px solid #DCE1E5;
        height: 196px;
        h3 {
          @extend %flex,
          %aitems;
          border-bottom: 1px solid #EEEEEE;
          height: 30px;
          padding-left: 8px;
        }
        & .winMsgScroll {
          height: 166px;
          overflow: hidden;
          transition: all 0.3s;
          position: relative;
          
        }
      }
    }
  }
}
