@import '@/assets/scss/user/comm.scss';
.newTab {
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
  padding-left: 10px;
  & a {
    font-size: 14px;
    background: #f8f8f8;
    border: 1px solid #cecece;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 4px 4px 0 0;
    line-height: 28px;
    display: inline-block;
    margin-bottom: -1px;
  }
  & a.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #e4393c;
  }
}

.fix {
  box-sizing: inherit;
  & .selectHeadImg {
    display: inline-block;
    position: relative;
    float: left;
    margin: 30px;
    margin-right: 0;
    width: 100px;
    & img {
      vertical-align: top;
      width: 100px;
      height: 100px;
      border-radius: 3px;
    }
    & p {
      position: absolute;
      cursor: pointer;
      bottom: 0;
      left: 0;
      text-align: center;
      display: inline-block;
      width: 100%;
      background: rgba(0, 0, 0, .16);
      line-height: 25px;
      color: #fff;
      &:hover {
        background: rgba(0, 0, 0, .5);
      }
    }
  }
  & ul.evCallInfo {
    float: left;
    margin: 25px 30px;
    line-height: 22px;
    margin-bottom: 30px;
    & em{
      letter-spacing:12px;
    }
  }
  & .levelBar {
    margin: 10px 30px;
    width: 80%;
    height: 48px;
    clear: both;
    position: relative;
    & .levelBarInfo {
      position: relative;
      margin: 2px 0;
      & em {
        position: absolute;
        top: 6px;
        line-height: 15px;
        text-align: center;
        font-size: 14px;
      }
      & p {
        text-align: center;
      }
      & i {
        position: absolute;
        top: 6px;
        line-height: 15px;
        text-align: center;
        font-size: 14px;
        right: 0;
      }
    }
  }
  & h6 {
    margin: 0 30px
  }
  & table {
    table-layout: fixed;
    margin: 0 30px;
    text-align: center;
    margin-bottom: 30px;
    border-collapse: collapse;
    & th {
      background-color: #f2f7ff;
    }
    & th,
    & td {
      border: 1px solid #e6e6e6;
      height: 32px;
    }
  }
}
