@import '@/assets/scss/user/comm.scss';
.searchOpt {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-align: left;
  background: #f8f8f8;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 10px;
  & input {
    margin: 10px 0;
    margin-right: 2px;
  }
}

.selectIcon {
  position: relative;
  & em {
    right: 6px;
    top: 3px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #999;
  }
}

.agentMember .selectIcon select {
  border-radius: 2px;
  & em {
    top: 5px;
  }
}

.userSelect {
  height: 30px;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 90px;
  line-height: 28px;
  border: 1px solid #cecece;
  color: #666;
  padding: 0 5px;
  background: #fff;
  border-radius: 0;
}
