html,
body,
#app {
  width: 100%;
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-size: 12px;
  font-family: "微软雅黑";
}

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


img {
  vertical-align: bottom;
  border: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong,
b,
th {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

input {
  padding: 0;
  margin: 0;
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}
