@import '@/assets/minix/main.scss';
.bet {
  width: 1000px;
  margin: 15px auto;
  min-height: 462px;
  border: 1px solid #e6e6e6;
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


